html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 1rem;
    padding-bottom: 11rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f8f1da;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align: center;
    background-color: #dddddd;
}

nav li{
    font-size: 20px;
    float: left;

}

nav li a{
    display: block;
    padding: 10px 150px;
    font-family: fantasy;
}

nav li a:hover:not(.active){
    background-color: #eeeeee;
}

.active{
    background-color: #bbbbbb;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding 1rem;
    background-color: #dddddd;

}

.main {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
}

.demo h2 {
    margin-top: 0;
}


img{
    max-width: 100%;
    width: auto\9; /*ie8 */
}

img.center {
    display: block;
    margin: 0 auto;
}

#bannerimage {
    width: 100%;
    background-image: url(Photos/Staff.jpg);
    height: 405px;
    background_position: center;

}

.discloser{
    text-align: center;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
}

.grid-item img{
    height: 300px;
    width: 400px;
}

.grid-professional{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20x;
    justify-content: center
}

.reviews{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    grid-gap: 10px;
}

.review-item{
    font-family: URW Chancery L, cursive;
    font-size: 30px;
}



/* Required to format the Text like Mother's Live Site and save me 10 hours of changing tags*/


.Heading-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
.Heading-1-C
{
    font-family:"Parisian BT", serif; font-size:32.0px; line-height:1.22em;
}
.Heading-C
{
    font-family:"Parisian BT", serif; font-size:40.0px; line-height:1.20em;
}
.Body-C
{
    font-family:"Calibri", sans-serif; font-size:16.0px; line-height:1.40em;
}
.Body-C-C0
{
    font-family:"Calibri", sans-serif; font-weight:700; font-size:16.0px; line-height:1.40em;
}
.Artistic-Body-C
{
    font-family:"Calibri", sans-serif; font-size:15.0px; line-height:1.40em;
}
.Artistic-Body-C-C0
{
    font-family:"Calibri", sans-serif; font-style:italic; font-size:15.0px; line-height:1.40em;
}
